.part1 {
  height: 100px;
  background-color: blue;
}
.part2 {
  height: 300px;
  background-color: red;
}
.part3 {
  height: 100px;
  background-color: blue;
}
img {
  width: 580px;
  height: 200px;
  display: block;
  margin: auto;
  padding: 20px;
}
section {
  width: 1000px;
  margin: auto;
}
body {
  background: hsl(0, 0%, 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.heart {
  font-size: 6em;
  position: relative;
}

.part1 {
  position: relative;
  z-index: 1;
  animation: beat 2s linear infinite;
}

.part1 .part3 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  animation: echo 2s linear infinite;
}

@keyframes beat {
  0% {
    transform: scale(1);
  }
  14% {
    transform: scale(0.9);
  }
  21% {
    transform: scale(1.1) skew(0.004turn);
  }
  28% {
    transform: scale(1) skew(0.008turn);
  }
  35% {
    transform: scale(1) skew(0);
  }
}

@keyframes echo {
  0% {
    opacity: 0.5;
    transform: scale(1);
  }
  14% {
    opacity: 0.4;
    transform: scale(0.8);
  }
  21% {
    opacity: 0.4;
    transform: scale(1.1);
  }
  100% {
    opacity: 0;
    transform: scale(3);
  }
}
